[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
watchdog = "*"
pymongo = "*"
python-dotenv = "*"
plotly = "*"
numpy = "*"
matplotlib = "*"
streamlit-extras = "*"
streamlit = "*"
itables = "*"
jinja2 = "*"
pdfkit = "*"
pypdf = "*"
pypdf2 = "*"
weasyprint = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.13"
