<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <title>Relatório Mensal</title>
  <style> {{ stylesheet }}</style>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<br/>
<br/>
  <h1>ABDOME</h1>
  {{ abdome }}
  <div class="page-break"></div>
<br/>
<br/>
  <h1>BICEPS</h1>
  {{ biceps }}
<div class="page-break"></div>
<br/>
<br/>
  <h1>COSTAS</h1>
  {{ costas }}
<div class="page-break"></div>
<br/>
<br/>
  <h1>GLÚTEOS</h1>
  {{ gluteos }}
<div class="page-break"></div>
    <br/>
    <br/>
  <h1>MEMBROS SUPERIORES 1</h1>
  {{ membros_superiores_1 }}
<div class="page-break"></div>
    <br/>
    <br/>
  <h1>MEMBROS SUPERIORES 2</h1>
  {{ membros_superiores_2 }}
<div class="page-break"></div>
    <br/>
    <br/>
  <h1>MEMBROS INFERIORES GERAL</h1>
  {{ membros_inferiores_geral }}
<div class="page-break"></div>
    <br/>
    <br/>
 <h1>MEMBROS SUPERIORES GERAL</h1>
  {{ membros_superiores_geral }}
<div class="page-break"></div>
    <br/>
    <br/>
 <h1>OMBROS</h1>
  {{ ombros }}
  <div class="page-break"></div>
    <br/>
    <br/>
  <h1>PANTURRILHA</h1>
  {{ panturrilha }}
<div class="page-break"></div>
    <br/>
    <br/>
  <h1>PEITORAL</h1>
  {{ peitoral }}
<div class="page-break"></div>
    <br/>
    <br/>
  <h1>POSTERIORES DE COXA</h1>
  {{ posteriores_de_coxas }}
 <div class="page-break"></div>
    <br/>
    <br/>
 <h1>QUADS</h1>
  {{ quads }}
<div class="page-break"></div>
    <br/>
    <br/>
 <h1>TRICEPS</h1>
  {{ triceps }} 
</body>

</html>